<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-5 mb-5">
        <img class="card-img-top mt-3" src="assets/images/s2s.logo.jpg" alt="logo">
        <div class="card-block">
          <h5 class="card-title text-center login-txt">Login</h5>
          <form [formGroup]="loginForm" #f='ngForm' (ngSubmit)="signIn(f.value)">
            <div class="text-danger alert" *ngIf="loginForm.errors">
              {{loginForm.errors.message}}
            </div>

            <div [ngClass]="{'form-group': true, 'has-danger' : username.touched && username.invalid}">
              <input type="text" id="username" formControlName="username" class="form-control "
                     placeholder="enter username">
              <div class="form-control-feedback"
                   *ngIf="username.touched && username.invalid && username.errors.required">
                username is required
              </div>
              <div class="form-control-feedback"
                   *ngIf="username.touched && username.invalid && username.errors.pattern">
                username should start with alpha
              </div>
            </div>
            <div [ngClass]="{'form-group' : true, 'has-danger' : password.touched && password.invalid}">
              <input type="password" id="password" formControlName="password" class="form-control"
                     placeholder="enter password">
              <div class="form-control-feedback"
                   *ngIf="password.touched && password.invalid && password.errors.required">
                Password is required
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="form-group links">
              <a routerLink="/fgtPassword" class="float-left">Forgot your password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>









