.cnt-provision {
  // margin-top: em;
}

.search-ctr {
  margin: 1em 2em 1em 0;
  font-size: 1.2em;

  label {
    margin-right: 1em;
  }
}

.prvs-row:hover {
  background-color: #e8ebef;
}

.crt-prv{
  margin: 0 1em;
}

