.cnt-pdtl {
  float: left;
  margin-top: 2em;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.work-log-hdr, .work-log {
  margin: 1em 0;

  p {
    margin-top: 1em;
  }
}

.btn-grp {
  margin: 2em 0;
  :hover {
    cursor: pointer;
  }
  button {
    margin-right: 3em;
  }
}
