<div class="col-lg-12 col-md-9 cnt-provision">
  <div class="col-xs-12">

    <!--Search Bar to pipes requests -->
    <div class="form-inline search-ctr">
      <label for="search-prov">Search Provision</label>
      <input class="form-control" id="search-prov" type="text" placeholder="location, status, type, dates"
             aria-label="Search"
             [(ngModel)]="searchText">

      <button class="btn btn-primary crt-prv" (click)="goToCreateProvision()">
        <span class="fa fa-list"></span>Create Provision
      </button>
    </div>

    <div class="table-responsive" *ngIf="provisions">
      <table class="table">
        <thead>
        <th>#</th>
        <th>
          Provisioning Location
        <th>Date Created</th>
        <th>
          Current status
        </th>
        <th>Date Modified</th>
        <th>Service Type Preferred</th>
        <th>Bandwidth Required</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr *ngFor="let provision of provisions|search: searchText|pagination : page" app-provision
            [provision]='provision' class="prvs-row" (click)="goToProvision(provision.id)"></tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <br>
    <app-pagination [size]="origProvisions.length" [currentPage]="page" *ngIf="origProvisions"
                    (pageChange)="updatePage($event)"></app-pagination>
  </div>
</div>
