<div class="col-xs-12 cnt-profile" *ngIf="user">
  <div class="card">
    <img class="card-img-top" src="assets/images/user_profile.png" alt="Card image cap">
    <div class="card-block">
      <h5 class="card-title text-center">{{user.username}}</h5>
      <div class="card-text">
        <div class="row-fluid">
          <div class="col-xs-12 text-center">
            {{user.firstName | titlecase}} &nbsp;{{user.lastName | titlecase}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-xs-12 text-center">
            {{user.email}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-xs-12 text-center">
            {{user.company | titlecase}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary edit-link">
              <span class="fa fa-edit fa-lg"></span>Edit Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

