.cnt-profile {
  margin-top: 5em;
}

.card-img-top {
  width: 130px;
  height: 125px;
  margin: auto;
}
.edit-link{
  margin: 1em 0;
}

.nav-ctr > div{
  margin: 1em 0;
}

.fa{
  margin-right: 1em;
}
