<div class="container-fluid">
  <div class="row">            
      <div class="col-lg-1 col-md-1"></div> 
    <div class="col-lg-2 col-md-2 col-sm-6">
      <div class="circle-tile">
        <a href="#">
          <div class="circle-tile-heading yellow">
            <span class="status-cnt">265</span>
          </div>
        </a>
        <div class="circle-tile-content yellow">
          <div class="circle-tile-description text-faded"> PreQual Request Received </div>          
          <a class="circle-tile-footer" href="#">Provisions <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading dark-blue"><span class="status-cnt">265</span></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> Quote Provided </div>
          <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading green"><span class="status-cnt">265</span></div></a>
          <div class="circle-tile-content green">
            <div class="circle-tile-description text-faded"> Order Received </div>            
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading blue"><span class="status-cnt">265</span></div></a>
          <div class="circle-tile-content blue">
            <div class="circle-tile-description text-faded"> Order Placed with ISP </div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6">
          <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading red"><span class="status-cnt">265</span></div></a>
            <div class="circle-tile-content red">
              <div class="circle-tile-description text-faded"> Circuit Installed, Details sent to Customer </div>
              <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>     
  </div>
</div>
