html, body {
  height: 100% !important;
  width: 100% !important;
}

div.container-fluid {
  height: 100%;
  background-color: #ffffff;
}

form {
  margin: auto;

  .fgt-txt {
    margin-top: 8em;
  }
}


