<div class="container d-flex flex-column">
  <form class="col-lg-6 col-md-8 col-sm-10 col-xs-12" [formGroup]="fgtPasswordForm" (ngSubmit)='onFgtPwdClick()'>
    <div class="form-group fgt-txt">
      <div class="h2">Forgot your password?</div>
      <div> Enter email address below to reset your password. You will be sent an email with instructions to reset
        password.
      </div>
    </div>

    <div [ngClass]="{'form-group': true,'form-inline': true, 'has-danger' : email.touched && email.invalid}">
      <input type="email" id="email" formControlName="email" class="form-control col-md-8 offset-md-2"
             placeholder="enter email">
      <div class="form-control-feedback offset-md-2" *ngIf="email.touched && email.invalid && email.errors.required">
        Email is required
      </div>
      <div class="form-control-feedback offset-md-2" *ngIf="email.touched && email.invalid && email.errors.emailFormat">
        Email is not in valid format
      </div>
    </div>

    <div class="form-group col-md-6 offset-md-3">
      <button type="submit" class="btn form-control btn-primary btn-block"
              [disabled]="!fgtPasswordForm.valid">Reset Password
      </button>
    </div>

    <div class="form-group has-success" *ngIf="response.emailSent">
      <div class="form-control-feedback">Please check your inbox for password reset instruction.</div>
    </div>
  </form>
</div>
