/* You can add global styles to this file, and also import other style files */
@import 'assets/variable';
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100% !important;
  width: 100% !important;
}

.no-pam {
  padding: 0 !important;
  margin: 0 !important;
}
