<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card mt-5 mb-5">
        <img class="card-img-top mt-3" src="assets/images/s2s.logo.jpg" alt="logo">
        <div class="card-block">
          <h5 class="card-title text-center">Registration</h5>

          <form [formGroup]="registerForm" #f="ngForm" (ngSubmit)="registerUser(f.value)">
            <div class="text-danger alert" *ngIf="registerForm.errors">
              {{registerForm.errors.message}}
            </div>
            <div *ngIf="(registered && userType === 'customer'); then registerSuccess else registerContent"></div>

            <ng-template #registerSuccess>
              <div class="col-xs-12 text-center reg-msg">Thank you for signing up!</div>
              <div class="col-xs-12"><p>We have sent an email with the username details to sign in into account. Please
                check
                your email to access the portal.</p></div>
            </ng-template>


            <ng-template #registerContent>
              <div [ngClass]="{'form-group': true,  'has-danger' : firstName.touched && firstName.invalid}">
                <label for="first-name">First Name :</label>
                <input type="text" id="first-name" formControlName="firstName" class="form-control"
                       placeholder="enter first name">
                <div class="form-control-feedback"
                     *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
                  First Name is required
                </div>
                <div class="form-control-feedback"
                     *ngIf="firstName.touched && firstName.invalid && firstName.errors.pattern">
                  First Name should contain only alphabets
                </div>
              </div>

              <div [ngClass]="{'form-group': true, 'has-danger' : lastName.touched && lastName.invalid}">
                <label for="last-name">Last Name :</label>
                <input type="text" id="last-name" formControlName="lastName" class="form-control"
                       placeholder="enter last name">
                <div class="form-control-feedback"
                     *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
                  First Name is required
                </div>
                <div class="form-control-feedback"
                     *ngIf="lastName.touched && lastName.invalid && lastName.errors.pattern">
                  First Name should contain only alphabets
                </div>
              </div>

              <div [ngClass]="{'form-group': true, 'has-danger' : email.touched && email.invalid}">
                <label for="email">Email :</label>
                <input type="email" id="email" formControlName="email" class="form-control"
                       placeholder="enter email">
                <div class="form-control-feedback" *ngIf="email.touched && email.invalid && email.errors.required">
                  Email is required
                </div>
                <div class="form-control-feedback "
                     *ngIf="email.touched && email.invalid && email.errors.emailFormat">
                  Email is not in valid format
                </div>
              </div>

              <div [ngClass]="{'form-group': true, 'has-danger' : password.touched && password.invalid}">
                <label for="password">Password :</label>
                <input type="password" id="password" formControlName="password" class="form-control"
                       placeholder="enter password">
                <div class="form-control-feedback"
                     *ngIf="password.touched && password.invalid && password.errors.required">
                  Password is required
                </div>
              </div>

              <div
                [ngClass]="{'form-group': true, 'has-danger' : confirmPassword.touched && confirmPassword.invalid}">
                <label for="confirm-password">Confirm Password :</label>
                <input type="password" id="confirm-password" formControlName="confirmPassword"
                       class="form-control"
                       placeholder="re-enter password">
                <div class="form-control-feedback"
                     *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required">
                  Password is required
                </div>
              </div>

              <div [ngClass]="{'form-group': true, 'has-danger' : type.touched && type.invalid}">
                <label for="type">User Type </label>
                <select formControlName="type" id="type" class="form-control" [(ngModel)]="defaultType">
                  <option value="customer">Customer</option>
                  <option value="admin">Admin</option>
                </select>
              </div>

              <div [ngClass]="{'form-group': true, 'has-danger' : company.touched && company.invalid}"
                   *ngIf="type.value === 'customer'">
                <label for="company">Company Name</label>
                <select formControlName="company" id="company" class="form-control" [(ngModel)]="defaultCompany">
                  <option value="s2s">S2S Communications</option>
                  <option value="Gibi">Gibi Systems</option>
                  <option value="Company1">Company1</option>
                  <option value="Company1">Company XYZ</option>
                  <option value="Company1">Company ABC</option>
                  <option value="Company1">Company XXX</option>
                </select>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </div>
            </ng-template>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
